<div class="container d-flex justify-content-center">
  <div class="list_show">
    <div class="list_show_header">
      <%= link_to lists_path do %>
        <h1 id="link_back">
          <i class="fa-solid fa-arrow-left"></i>
        </h1>
      <% end %>
      <%= link_to new_list_bookmark_path(@list) do %>
        <h1 id="link_add">
          <i class="fa-solid fa-circle-plus"></i>
        </h1>
      <% end %>
      <div class="d-flex justify-content-center">
        <h1>
          <%= @list.name %>
        </h1>
      </div>
    </div>
    <div class="bookmarks_container">
      <% if @bookmarks.empty? %>
        <h3>No Bookmarks In This List</h3>
      <% else %>
        <% @bookmarks.each do |bookmark| %>
          <div class="bookmark_card">
            <div class="bookmark_info">
              <div>
                <h3><%= bookmark.movie.title %></h3>
                <h4><%= bookmark.movie.overview %></h4>
              </div>
              <p>Comment: <%= bookmark.comment %></p>
              <div>
                <div class="d-flex justify-content-between">
                  <h4>
                    <%= link_to bookmark_path(bookmark), data: { "turbo-method": "delete", "turbo-confirm": "Are you sure you want to delete this bookmark?"} do %>
                      <i class="fa-solid fa-trash"></i>
                    <% end %>
                  </h4>
                  <h4><%= bookmark.movie.rating %>/10</h4>
                </div>
              </div>
            </div>
            <div><%= image_tag bookmark.movie.poster_url, alt: "movie poster" %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
